
.page{
	width : 980px;
	margin : auto;
	font-size : 16px;
	font-family : 'source sans Pro', Calibri, Tahoma, sans-serif;
	background-Color: GhostWhite;	
}
.infophoto{
	height : 150px;
}
.info{
	
	float : left;
	
	
}
.h2{
	color : red;
	
}
.photo{
	
	height : 150px;
	width : 150;
	float : right;
}
.competence{
	background-Color: DeepSkyBlue;
	color : Navy;
	
}
.projet{
	background-Color: DeepSkyBlue;
	color : Navy;
	
}
.formation{
	background-Color: DeepSkyBlue;
	color : Navy;
	
}.competence{
	background-Color: DeepSkyBlue;
	color : Navy;
	
}
.centre{
	background-Color: DeepSkyBlue;
	color : Navy;
	
}
